/* 
Collor Pallet
Pink: EE4B6A
Ocean Blue: 219EBC
Dark Blue: 023047
Yellow: FFB703
Orange: FB8500


/* Global Styles
-------------------------------------*/

html {
   box-sizing: border-box;
}
*,
*:before,
*:after {
   box-sizing: inherit;
}
body {
   color: #1f1f1f;
   font-family: "Roboto", sans-serif;
   margin: 0;
}
img {
   width: 300px;
}
a {
   color: #219ebc;
}
a:hover {
   text-decoration: none;
}
h1 {
   font-size: 75px;
}
h2 {
   font-size: 35px;
}
h1,
h2 {
   font-family: "Share Tech Mono", monospace;
   font-weight: 400;
   line-height: 0.8;
   margin-top: 10px 0;
}
h2 {
   margin: 0;
}
p {
   font-size: 16px;
   line-height: 1.5;
}
.content-wrap {
   max-width: 800px;
   width: 85%;
   margin: 0 auto;
   padding: 30px 0;
}
.item-details h3 + p {
   font-style: italic;
}
.item-details h3 ~ p {
   margin: 0;
}
.divider > section {
   border-bottom: #ffb703 1px dashed;
   padding: 30px 0;
}
.divider > section:last-of-type {
   border-bottom: none;
}
.divider2 > section {
   border-bottom: black 1px dashed;
   padding: 30px 0;
}
.divider2 > section:last-of-type {
   border-bottom: none;
}
/* Profile
-------------------------------------*/
header {
   background-color: #ffb703;
}
/* Projects
-------------------------------------*/
.projects {
   background-color: #023047;
   color: whitesmoke;
}
.projects .btn {
   text-decoration: none;
   background-color: #ffb703;
   padding: 10px;
   border-radius: 5px;
   color: #1f1f1f;
}
.projects .btn:hover {
   background-color: rgb(255, 183, 3, 80%);
}
.project-item {
   overflow: hidden;
}
.project-item h3 {
   margin-top: 0;
}
.project-item a {
   float: right;
}
/* Work Experience
-------------------------------------*/
.work-experience {
   background-color: #fb8500;
}

/* Education
-------------------------------------*/
.education {
   background-color: #219ebc;
}

/* Contact
-------------------------------------*/
footer {
   background-color: #ee4b6a;
}
.contact-list {
   padding: 0;
   list-style-type: none;
   text-decoration: underline;
}

.contact-list a {
   color: black;
   text-decoration: none;
   padding: 8px;
}
.contact-list a:hover {
   color: whitesmoke;
}

/* Responsive Adjustment */
@media screen and (min-width: 750px) {
   header,
   footer {
      text-align: center;
   }
   .project-item img {
      float: left;
      margin-right: 20px;
   }
   .job-item {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 15px;
   }
   .contact-list {
      display: flex;
      justify-content: center;
   }
}
@media screen and (max-width: 749px) {
   h1 {
      font-size: 55px;
      line-height: 0.8;
   }
   h2 {
      font-size: 28px;
      line-height: 1.1;
   }
   .contact-list a {
      padding: 5px;
      display: block;
   }
}
